<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>Example 2</title>
    <link
      href="https://fonts.googleapis.com/css?family=Roboto:400,700&display=swap"
      rel="stylesheet"
    />
    <link href="/common.css" type="text/css" rel="stylesheet" />
    <style>
      .col1 {
        flex: 0 0 200px;
        border-right: 1px solid #cccfd3;
      }
      .col2 {
        flex: 0 0 200px;
        border-right: 1px solid #cccfd3;
      }
      .col3 {
        flex: 0 0 70px;
        border-right: 1px solid #cccfd3;
      }
      .col4 {
        flex: 0 0 120px;
        border-right: 1px solid #cccfd3;
      }
      .col5 {
        flex: 0 0 78px;
        border-right: 1px solid #cccfd3;
      }
      .col6 {
        flex: 0 0 90px;
        border-right: 1px solid #cccfd3;
      }
      .col7 {
        flex: 0 0 175px;
      }
    </style>
  </head>

  <body>
    <div class="content">
      <div class="header-row">
        <div class="col1">
          <span class="column-header">Address</span>
        </div>
        <div class="col2">
          <span class="column-header">Community</span>
        </div>
        <div class="col3">
          <span class="column-header">Hubs</span>
        </div>
        <div class="col4">
          <span class="column-header">Lock Status</span>
        </div>
        <div class="col5">
          <span class="column-header">Issue?</span>
        </div>
        <div class="col6">
          <span class="column-header">Hub ID</span>
        </div>
        <div class="col7">
          <span class="column-header">Hub Serial</span>
        </div>
      </div>
      {{#hardware}}
      <div class="row">
        <div class="col1">
          <span class="data-name">{{address}}</span>
        </div>
        <div class="col2">
          <span class="data-name">{{communityName}}</span>
        </div>
        <div class="col3">
          <span class="data-name">{{online}}</span>
        </div>
        <div class="col4">
          <span class="data-name">{{locked}}</span>
        </div>
        <div class="col5">
          <span class="data-name">{{issue}}</span>
        </div>
        <div class="col6">
          <span class="data-name">{{hubid}}</span>
        </div>
        <div class="col7">
          <span class="data-name">{{serial}}</span>
        </div>
      </div>
      {{/hardware}}
    </div>
  </body>
</html>
