<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>Example 2</title>
    <link
      href="https://fonts.googleapis.com/css?family=Roboto:400,700&display=swap"
      rel="stylesheet"
    />
    <link href="/common.css" type="text/css" rel="stylesheet" />
    <style>
      .col1 {
        flex: 1 0 150px;
        border-right: 1px solid #cccfd3;
      }

      .col2 {
        flex: 1 0 150px;
        border-right: 1px solid #cccfd3;
      }

      .col3 {
        flex: 1 0 150px;
        border-right: 1px solid #cccfd3;
      }

      .col4 {
        flex: 0 0 90px;
        border-right: 1px solid #cccfd3;
      }

      .col5 {
        flex: 0 0 100px;
        border-right: 1px solid #cccfd3;
        text-align: center;
      }

      .col6 {
        flex: 1 0 115px;
        border-right: 1px solid #cccfd3;
        text-align: center;
      }

      .col7 {
        flex: 1 0 115px;
        border-right: 1px solid #cccfd3;
        text-align: center;
      }

      .col8 {
        text-align: center;
        flex: 0 0 70px;
      }
    </style>
  </head>

  <body>
    <div class="content">
      <div class="header-row">
        <div class="col1">
          <span class="column-header">Community</span>
        </div>
        <div class="col2">
          <span class="column-header">Home Name</span>
        </div>
        <div class="col3">
          <span class="column-header">Address</span>
        </div>
        <div class="col4">
          <span class="column-header">Type</span>
        </div>
        <div class="col5">
          <span class="column-header">UTour Enabled</span>
        </div>
        <div class="col6">
          <span class="column-header">Lock Status</span>
        </div>
        <div class="col7">
          <span class="column-header">Service Type</span>
        </div>
        <div class="col8">
          <span class="column-header"># Of Tours</span>
        </div>
      </div>
      {{#homes}}
      <div class="row">
        <div class="col1">
          <span class="data-name">{{communityName}}</span>
        </div>
        <div class="col2">
          <span class="data-name">{{homeName}}</span>
        </div>
        <div class="col3">
          <span class="data-name">{{address}}</span>
        </div>
        <div class="col4">
          <span class="data-name">{{isModelFlg}}</span>
        </div>
        <div class="col5">
          <span class="data-name">{{utourEnabled}}</span>
        </div>
        <div class="col6">
          <span class="data-name">{{status}}</span>
        </div>
        <div class="col7">
          <span class="data-name">{{serviceType}}</span>
        </div>
        <div class="col8">
          <span class="data-name">{{toursCount}}</span>
        </div>
      </div>
      {{/homes}}
    </div>
  </body>
</html>
