<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>Example 2</title>
    <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet" />
    <style>
      body {
        position: relative;
        margin: 0 auto;
        color: #555555;
        background: #ffffff;
        font-family: 'Roboto', sans-serif;
        font-size: 14px;
        box-sizing: border-box;
        padding: 0 30px 30px 30px;
        margin: auto;
        width: 100%;
        -webkit-print-color-adjust: exact;
      }

      b {
        font-family: 'Roboto-bold', sans-serif;
        font-weight: bold;
      }

      .row {
        height: 38px;
        display: flex;
      }

      .row > span {
        font-family: Roboto;
        font-size: 14px;
        color: #4f5d75;
        letter-spacing: 0;
        padding: 0;
        display: flex;
        align-self: center;
        padding: 11px 0px 11px 15px;
        -webkit-print-color-adjust: exact;
      }

      .row > span.house-item {
        padding-left: 74px;
      }

      .data-name > b {
        padding-left: 4px;
      }

      .row > span > b {
        font-family: Roboto;
        color: #2d3142;
        -webkit-print-color-adjust: exact;
      }

      .row:nth-child(even) {
        background-color: #ffffff;
        border-top: 2px solid #ececec;
        border-bottom: 2px solid #ececec;
        -webkit-print-color-adjust: exact;
      }

      .row:nth-child(odd) {
        background-color: #ececec;
        border-top: 2px solid #ececec;
        border-bottom: 2px solid #ececec;
        -webkit-print-color-adjust: exact;
      }

      .inset {
        margin-left: 30px;
      }
    </style>
  </head>

  <body>
    <div class="content">
      <div class="row">
        <span class="data-name">Registered Date / Time: <b>{{date}}, {{createdAt}}</b> </span>
      </div>
      <div class="row">
        <span class="data-name">Total UTour Duration: <b> {{duration}} Minutes</b> </span>
      </div>
      <div class="row">
        <span class="data-name">ID Verification Used: <b>{{verificationMethod}}</b> </span>
      </div>
      <div class="row">
        <span class="data-name">Community: <b>{{communityName}}</b> </span>
      </div>
      <div class="row">
        <span class="data-name">Plan: <b> {{plan}} </b> </span>
      </div>
      <div class="row">
        <span class="data-name">Address: <b>{{address}}</b> </span>
      </div>
      <div class="row">
        <span class="data-name"
          >City, State &amp; Zip: <b>{{city}}, {{stateName}} {{zip}}</b>
        </span>
      </div>
      <div class="row">
        <span class="data-name">Visitor Name: <b>{{firstName}} {{lastName}}</b> </span>
      </div>
      <div class="row">
        <span class="data-name">Status: <b>{{status}}</b> </span>
      </div>
      <div class="row">
        <span class="data-name">Voice Report</span>
      </div>
      <div class="row">
        <span class="data-name">Total Sessions: <b>4</b></span>
      </div>
      <div class="row">
        <span class="data-name">Total Questions: <b>4</b></span>
      </div>
      <div class="row">
        <span class="data-name">% of Questions Answered: <b>100</b></span>
      </div>
      <div class="row">
        <span class="data-name">% of Questions Answered With Your Custom Content: <b>100</b></span>
      </div>
      <div class="row">
        <span class="data-name">Most Popular Answers:</span>
      </div>
      <div class="row">
        <span class="data-name inset">About the Kitchen <b>38.5%</b></span>
      </div>
      <div class="row">
        <span class="data-name inset">About the Appliance <b>38.5%</b></span>
      </div>
      <div class="row">
        <span class="data-name inset">About the Square Footage <b>23.1%</b></span>
      </div>
      <div class="row">
        <span class="data-name">Phrases / Matches:</span>
      </div>
      <div class="row">
        <span class="data-name inset">The Kitchen / About the Kitchen</span>
      </div>
      <div class="row">
        <span class="data-name inset">Appliances / About Appliance Options</span>
      </div>
      <div class="row">
        <span class="data-name inset">Appliances / About Appliance Options</span>
      </div>
      <div class="row">
        <span class="data-name inset">The Kitchen / About the Kitchen</span>
      </div>
      <!-- <div class="row">
        <span class="data-name inset"
          >Square Footage / About the Square Footage</span
        >
      </div>
      <div class="row">
        <span class="data-name inset">The Kitchen / About the Kitchen</span>
      </div>
      <div class="row">
        <span class="data-name inset"
          >Appliances / About Appliance Options</span
        >
      </div>
      <div class="row">
        <span class="data-name inset">The Kitchen / About the Kitchen</span>
      </div>
      <div class="row">
        <span class="data-name inset"
          >Square Footage / About the Square Footage</span
        >
      </div>
      <div class="row">
        <span class="data-name inset"
          >Appliances / About Appliance Options</span
        >
      </div>
      <div class="row">
        <span class="data-name inset"
          >Appliances / About Appliance Options</span
        >
      </div>
      <div class="row">
        <span class="data-name inset">The Kitchen / About the Kitchen</span>
      </div> -->
      <!-- <div class="row">
        <span class="data-name">Other Homes Toured on This Day: </span>
      </div> -->

      <!-- {{#pdfData.otherTours}}
        <div class="row"
             style="break-before: auto;">
          <span class="house-item"><b> {{pdfData.addressTour}}</b> </span>
        </div>
      {{/pdfData.otherTours}} -->
    </div>
  </body>
</html>
