<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>Example 2</title>
    <link
      href="https://fonts.googleapis.com/css?family=Roboto:400,700&display=swap"
      rel="stylesheet"
    />
    <link href="/common.css" type="text/css" rel="stylesheet" />
    <style>
      .col1 {
        flex: 0 0 105px;
        border-right: 1px solid #cccfd3;
      }
      .col2 {
        flex: 0 0 125px;
        border-right: 1px solid #cccfd3;
      }
      .col3 {
        flex: 0 0 120px;
        border-right: 1px solid #cccfd3;
      }
      .col4 {
        flex: 0 0 120px;
        border-right: 1px solid #cccfd3;
      }
      .col5 {
        flex: 0 0 130px;
        border-right: 1px solid #cccfd3;
      }
      .col6 {
        flex: 0 0 130px;
        border-right: 1px solid #cccfd3;
      }
      .col7 {
        flex: 0 0 100px;
        border-right: 1px solid #cccfd3;
      }
      .col8 {
        flex: 0 0 135px;
      }
      .header-row > div {
        height: 48px;
        align-items: center;
      }
      .row > div {
        align-items: stretch;
        flex-grow: 0;
        min-height: 38px;
      }
      .header-row > div > span {
        display: inline-flex;
        padding: 0 15px;
      }
    </style>
  </head>

  <body>
    <div class="content">
      <div class="header-row">
        <div class="col1">
          <span class="column-header">Date</span>
        </div>
        <div class="col2">
          <span class="column-header">Time</span>
        </div>
        <div class="col3">
          <span class="column-header">Division</span>
        </div>
        <div class="col4">
          <span class="column-header">Community</span>
        </div>
        <div class="col5">
          <span class="column-header">Address</span>
        </div>
        <div class="col6">
          <span class="column-header">Visitor</span>
        </div>
        <div class="col7">
          <span class="column-header">Status</span>
        </div>
        <div class="col8">
          <span class="column-header">Sales Person</span>
        </div>
      </div>
      {{#tours}}
      <div class="row">
        <div class="col1">
          <span class="data-name">{{date}}</span>
        </div>
        <div class="col2">
          <span class="data-name">{{time}}</span>
        </div>
        <div class="col3">
          <span class="data-name">{{divisionName}}</span>
        </div>
        <div class="col4">
          <span class="data-name">{{community}}</span>
        </div>
        <div class="col5">
          <span class="data-name">{{address}}</span>
        </div>
        <div class="col6">
          <span class="data-name">{{visitor}}</span>
        </div>
        <div class="col7">
          <span class="data-name">{{status}}</span>
        </div>
        <div class="col8">
          <span class="data-name">{{salesUserName}}</span>
        </div>
      </div>
      {{/tours}}
    </div>
  </body>
</html>
