<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>Example 2</title>
    <link
      href="https://fonts.googleapis.com/css?family=Roboto:400,700&display=swap"
      rel="stylesheet"
    />
    <link href="/common.css" type="text/css" rel="stylesheet" />
    <style>
      body {
        padding: 0 30px 0 30px;
      }
      .content > div:nth-of-type(even) {
        background-color: #ffffff;
        border-top: 2px solid #fff;
        border-bottom: 2px solid #fff;
        -webkit-print-color-adjust: exact;
      }
      .content > div:nth-of-type(odd) {
        background-color: #ececec;
        border-top: 2px solid #ececec;
        border-bottom: 2px solid #ececec;
        -webkit-print-color-adjust: exact;
      }
      .content > div:last-child {
        border: none;
      }
    </style>
  </head>

  <body>
    <div class="content">
      <div class="row">
        <span class="data-name">Registered Date / Time: <b>{{date}}, {{createdAt}}</b> </span>
      </div>
      <div class="row">
        <span class="data-name">Total UTour Duration: <b> {{duration}} Minutes</b> </span>
      </div>
      <div class="row">
        <span class="data-name">ID Verification Used: <b>{{verificationMethod}}</b> </span>
      </div>
      <div class="row">
        <span class="data-name">Community: <b>{{communityName}}</b> </span>
      </div>
      <div class="row">
        <span class="data-name">Plan: <b> {{plan}} </b> </span>
      </div>
      <div class="row">
        <span class="data-name">Address: <b>{{address}}</b> </span>
      </div>
      <div class="row">
        <span class="data-name"
          >City, State &amp; Zip: <b>{{city}}, {{stateName}} {{zip}}</b>
        </span>
      </div>
      <div class="row">
        <span class="data-name">Visitor Name: <b>{{firstName}} {{lastName}}</b> </span>
      </div>
      <div class="row">
        <span class="data-name">Status: <b>{{status}}</b> </span>
      </div>
      <div class="row">
        <span class="data-name"><b>Voice Report</b></span>
      </div>
      <div class="row">
        <span class="data-name">Total Questions: <b>{{totalQuestions}}</b></span>
      </div>
      <div class="row">
        <span class="data-name">% of Questions Answered: <b>{{questionsAnswered}}</b></span>
      </div>
      <div class="row">
        <span class="data-name">Phrases:</span>
      </div>
      {{#phrases}}
      <div class="row">
        <span class="data-name inset">{{name}}</span>
      </div>
      {{/phrases}}
    </div>
  </body>
</html>
