<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>Example 2</title>
    <link
      href="https://fonts.googleapis.com/css?family=Roboto:400,700&display=swap"
      rel="stylesheet"
    />
    <link href="/common.css" type="text/css" rel="stylesheet" />
  </head>

  <body>
    <div class="content">
      <div class="row">
        <span class="data-name">Registered Date / Time: <b>{{date}}, {{createdAt}}</b> </span>
      </div>
      <div class="row">
        <span class="data-name">Total UTour Duration: <b> {{duration}} Minutes</b> </span>
      </div>
      <div class="row">
        <span class="data-name">ID Verification Used: <b>{{verificationMethod}}</b> </span>
      </div>
      <div class="row">
        <span class="data-name">Community: <b>{{communityName}}</b> </span>
      </div>
      <div class="row">
        <span class="data-name">Plan: <b> {{plan}} </b> </span>
      </div>
      <div class="row">
        <span class="data-name">Address: <b>{{address}}</b> </span>
      </div>
      <div class="row">
        <span class="data-name"
          >City, State &amp; Zip: <b>{{city}}, {{stateName}} {{zip}}</b>
        </span>
      </div>
      <div class="row">
        <span class="data-name">Visitor Name: <b>{{firstName}} {{lastName}}</b> </span>
      </div>
      <div class="row">
        <span class="data-name">Status: <b>{{status}}</b> </span>
      </div>
    </div>
  </body>
</html>
