<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>Example 2</title>
    <link
      href="https://fonts.googleapis.com/css?family=Roboto:400,700&display=swap"
      rel="stylesheet"
    />
    <link href="/common.css" type="text/css" rel="stylesheet" />
    <style>
      .col1 {
        flex: 1 0 200px;
        border-right: 1px solid #cccfd3;
      }
      .col2 {
        flex: 1 0 150px;
        border-right: 1px solid #cccfd3;
      }
      .col3 {
        flex: 0 0 150px;
        border-right: 1px solid #cccfd3;
      }
      .col4 {
        flex: 0 0 150px;
        border-right: 1px solid #cccfd3;
      }
      .col5 {
        flex: 1 0 150px;
      }
    </style>
  </head>

  <body>
    <div class="content">
      <div class="header-row">
        <div class="col1">
          <span class="column-header">Name</span>
        </div>
        <div class="col2">
          <span class="column-header">Email</span>
        </div>
        <div class="col3">
          <span class="column-header">Mobile Phone</span>
        </div>
        <div class="col4">
          <span class="column-header"># Of Tours</span>
        </div>
        <div class="col5">
          <span class="column-header">Sales Person</span>
        </div>
      </div>
      {{#users}}
      <div class="row">
        <div class="col1">
          <span class="data-name">{{name}}</span>
        </div>
        <div class="col2">
          <span class="data-name">{{email}}</span>
        </div>
        <div class="col3">
          <span class="data-name">{{phone}}</span>
        </div>
        <div class="col4">
          <span class="data-name">{{toursCount}}</span>
        </div>
        <div class="col5">
          <span class="data-name">{{salesUsers}}</span>
        </div>
      </div>
      {{/users}}
    </div>
  </body>
</html>
