<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link
      href="https://fonts.googleapis.com/css?family=Roboto:400,700&display=swap"
      rel="stylesheet"
    />
    <link href="/common.css" type="text/css" rel="stylesheet" />
    <style>
      .col1 {
        flex: 0 0 220px;
        border-right: 1px solid #cccfd3;
      }

      .col2 {
        flex: 1 0 150px;
        border-right: 1px solid #cccfd3;
      }

      .col3 {
        flex: 1 0 150px;
      }
    </style>
  </head>
  <body>
    <div class="content">
      <div class="header-row">
        <div class="col1">
          <span class="column-header">Content Type / Topic</span>
        </div>
        <div class="col2">
          <span class="column-header">Question</span>
        </div>
        <div class="col3">
          <span class="column-header">Response Content</span>
        </div>
      </div>
      {{#voiceContent}}
      <div class="row">
        <div class="col1">
          <span class="data-name">{{title}}</span>
        </div>
        <div class="col2">
          <span class="data-name">{{question}}</span>
        </div>
        <div class="col3">
          <span class="data-name">{{response}}</span>
        </div>
      </div>
      {{/voiceContent}}
    </div>
  </body>
</html>
