body {
  position: relative;
  margin: 0 auto;
  color: #555555;
  background: #ffffff;
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  box-sizing: border-box;
  padding: 0 30px 30px 30px;
  margin: auto;
  width: 100%;
  -webkit-print-color-adjust: exact;
}

b {
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
}

.header-row {
  height: 38px;
  display: flex;
  flex-basis: 100%;
  flex-direction: row;
  background-color: #7b8698;
}

.header-row > div {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  font-weight: 700;
  color: #fff;
  display: flex;
  align-self: center;
  -webkit-print-color-adjust: exact;
}

.row {
  display: flex;
  flex-basis: 100%;
  flex-direction: row;
  page-break-inside: avoid;
  align-items: stretch;
  min-height: 38px;
}

.row > div {
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  color: #4f5d75;
  letter-spacing: 0;
  padding: 0;
  display: flex;
  -webkit-print-color-adjust: exact;
}

.row > span.house-item {
  padding-left: 74px;
}

.data-name > b {
  padding-left: 4px;
}

.row span > b {
  font-family: Roboto;
  color: #2d3142;
  -webkit-print-color-adjust: exact;
}

.row:nth-child(even) {
  background-color: #ffffff;
  -webkit-print-color-adjust: exact;
}

.row:nth-child(odd) {
  background-color: #ececec;
  -webkit-print-color-adjust: exact;
}

.inset {
  margin-left: 30px;
}

.header-row > div {
  height: 48px;
  align-items: center;
}

.header-row > div > span {
  display: inline-flex;
  padding: 0 15px;
}

.row > div > span {
  display: flex;
  flex: 1;
  padding: 5px 15px;
  align-items: center;
  word-break: break-word !important;
  white-space: normal;
}
